.wrapper{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    height: 1rem;
}

.line{
    position: absolute;
    height: 4px;
    background-color: brown;
    margin-left: 1rem;
}

.line-wrapper{
    display: relative;
}

.text-container{
    padding: 0;
}