.circle{
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-30%, -50%);
}